@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Home" asp-action="Input">
        <div>
        <label>
            Jméno
            <input name="jmeno" type="text"/>
        </label>
        <label>
            Heslo
            <input name="heslo" type="password" />
        </label>
        </div>
        <div>
        <button type="submit">Odeslat</button>
        </div>

    </form>
</div>
