@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using permisionsApp.Entities

<div>
    <form id="myForm" >
    <label>
        Teď načti QR kód, nebo zadej ručně
        <input id="text" type="text" />
    </label>
    <button type="submit" id="odes">Odeslat</button>
    </form>
    <script>
        document.getElementById("myForm").addEventListener("submit", function (e) {
            e.preventDefault();
            const id = document.getElementById("text").value;
            window.location.href = `/home/SeznamOpravneni/${id}`;
        });
    </script>
</div>

@if (ViewBag.IsAdmin == true)
{
    <h2>Admin panel</h2>
    @foreach(Subject s in Model)
    {
        <div>
        @s.Jmeno    
        @s.kodUzivatele
        <a href="@Url.ActionLink("AdminSubjectRights", "home", new { s.Id})">Show Permisions</a>
        </div>
    }
}