@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    const byteArray = new Uint8Array([@Model.Obrazek ]);

    const blob = new Blob([byteArray], { type: 'image/png' });
    const url = URL.createObjectURL(blob);

    const img = document.createElement('img');
    img.src = url;
    document.body.appendChild(img);
</script>

@foreach (var f in Model.Subject.Permsions)
{
    <div>@f.Nazev - @f.Grant</div>
}