@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using permisionsApp.Entities;
@foreach (Permsion p in Model.Permsions)
{
    <div>
    @p.Nazev;
    @if(p.Grant)
    {
        <span>
            Povoleno
        </span>
    } else { <span>Zakazano</span>}
    </div>
}
